body {
    margin: 0px;
}

table {
    border-collapse: collapse;
}

td {
    /* border: 1px solid #ccc; */
    width: 100px;
    height: 100px;
    position: relative;
}

.box {
    margin-left: 500px;
    margin-top: 50px;

    width: 100px;
    height: 100px;
    position: absolute;
    background-color: hsl(66, 72%, 58%);
    color: #fff;
    font-size: 16px;
    text-align: center;
    line-height: 80px;
    cursor: move;
    transition: background-color 0.5s;
    border-radius: 15px;
}

.btn{
    margin-top: 10x;
    margin-left: 1200px;
}

#undoButton {
    
    background-color: #651ba6;
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;

}